
#body {
  background-image: url("images/bg.png");
}

#clickButton{
  background-color: powderblue;
  color: blue;
  color: red;
}

#display{
  background-image: url("images/backgrounb.jpeg");
  width: 500px;
  height: 500px;
  margin: ;
  }


  .teamsContainer {
      display: -webkit-flex;
      display: flex;
      margin:auto;
      margin-right: 3%;
      margin-left: 3%;
      height: 250px;
      position: sticky; center;
  }

  .teamsLol {

      margin: auto;
      margin-right: 3%;
      margin-left: 3%;

  }

  .teamsCsgo {
      margin: auto;
      margin-right: 3%;
      margin-left: 3%;
  }

.imageBloodyWolves{
  width: 600px;
  height: 430px;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: auto;
}

#imagenBotones1{
  background-image: url('images/Noticias.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;

}
#imagenBotones2{
  background-image: url('images/bNosotros.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
#imagenBotones3{
  background-image: url('images/bPatrocinadores.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
#imagenBotones4{
  width: 100%;
  height: 10px;
  background-image: url('images/bEquipos.png');
  background-repeat: no-repeat;
}


/*NAT: menu superior*/

.contenedor {
    width: 95%;
    max-width:1000px;
    margin:auto;
}

.contenedor p {
    margin-bottom:40px;
}

header nav {
    background:black;
    margin-bottom:10px;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    padding:57px;
    color:#fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background:#2980b9;
}


/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
    position:fixed;
    z-index:1000;
    top:0;
    max-width:1000px;
    width:100%;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
