
#body {
  background-image: url("images/bg.png");
}

#clickButton{
  background-color: powderblue;
  color: blue;
  color: red;
}

#display{
  background-image: url("images/backgrounb.jpeg");
  width: 500px;
  height: 500px;
  margin: ;
  }


  .teamsContainer {
      display: -webkit-flex;
      display: flex;
      margin:auto;
      margin-right: 3%;
      margin-left: 3%;
      height: 250px;
      position: sticky; center;
  }

  .teamsLol {

      margin: auto;
      margin-right: 3%;
      margin-left: 3%;

  }

  .teamsCsgo {
      margin: auto;
      margin-right: 3%;
      margin-left: 3%;
  }

.imageBloodyWolves{
  width: 600px;
  height: 430px;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: auto;
}

#imagenBotones1{
  background-image: url('images/Noticias.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;

}
#imagenBotones2{
  background-image: url('images/bNosotros.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
#imagenBotones3{
  background-image: url('images/bPatrocinadores.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
#imagenBotones4{
  width: 100%;
  height: 10px;
  background-image: url('images/bEquipos.png');
  background-repeat: no-repeat;
}


/*NAT: menu superior*/

.menu_div {
    width: 95%;
    max-width:100%;
    background: rgba(255, 255, 255, 0.3)
    margin:auto;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
    position:fixed;
    z-index:1000;
    top:0;
    margin:0;
    padding:0;
    border:0;
    max-width:100%;
    width:100%;
    background-color: black;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}


.menu_sup_social{
  float: right;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.3);

}

.menu_sup_social img{
  height: 30px;
  opacity: 1;
}

.menu_sup{
  background-color: rgba(0, 0, 0, 0.3);
  padding-top:10px; 
}

.menu_sup ul {
    list-style: none;
    overflow: hidden;
    border: red 5px solid;
}

.menu_sup ul li {
    float: left;
    border: yellow 5px solid;
}

.menu_sup ul li a {
    display: block;
    padding:20px;
    color:#fff;
    text-decoration: none;
    border: blue 5px solid;
}

.menu_sup ul li a:hover {
    background:#2980b9;
}


