
#body {
  background-image: url("images/bg.png");
}

#clickButton{
  background-color: powderblue;
  color: blue;
  color: red;
}

#display{
  background-image: url("images/backgrounb.jpeg");
  width: 500px;
  height: 500px;
  margin: ;
  }


  .teamsContainer {
      display: -webkit-flex;
      display: flex;
      margin:auto;
      margin-right: 3%;
      margin-left: 3%;
      height: 250px;
      position: sticky; center;
  }

  .teamsLol {

      margin: auto;
      margin-right: 3%;
      margin-left: 3%;

  }

  .teamsCsgo {
      margin: auto;
      margin-right: 3%;
      margin-left: 3%;
  }

.imageBloodyWolves{
  width: 600px;
  height: 430px;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: auto;
}

#imagenBotones1{
  background-image: url('images/Noticias.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;

}
#imagenBotones2{
  background-image: url('images/bNosotros.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
#imagenBotones3{
  background-image: url('images/bPatrocinadores.png');
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
}
#imagenBotones4{
  width: 100%;
  height: 10px;
  background-image: url('images/bEquipos.png');
  background-repeat: no-repeat;
}


/* NAT */
.carousel{
  background: transparent;
  margin-top: 20px;
}
.carousel .item img{
  margin: 0 auto; /* Align slide image horizontally center */
}

.content{
  margin: 0;
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 3%; 
}